# Note: Requirements are pinned in and installed from requirements.txt.
Flask
Flask-Cors
flask-apispec
gunicorn
gevent
raven[flask]
webargs
werkzeug
celery[redis]
redis
flower
# Flower 0.9.2 is not compatible with tornado 6, but does not constrain the
# version, so pin it explicitly here.
tornado<6
memote>=0.9.11

# Development, QA
pytest
pytest-cov
pytest-mock
flake8
flake8-docstrings
isort
colorama
safety
